    <div class="bottomContainer">
      <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/leo-feng-5b88a3153/">LinkedIn</a>
      <a class="footer-link" target="_blank" href="https://github.com/lfeng100">GitHub</a>
      <a class="footer-link" target="_blank" href="https://leoslog.herokuapp.com/">Blog</a>
      <a class="footer-link" href="music.html">Music</a>
      <p class="copyright">© 2021 Leo Feng.</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
